$bg: #208de3; //header   背景颜色   主色调
$hc: #fff; //header里面的颜色
$hf: .4rem; //header字体大小
$fbg: #f7f7f7; //footer 背景颜色
$ftb: #efefef; //footer 上边框颜色
$fws: .3rem; //footer 字体大小
$wfs: .32rem; //字体大小  全局
$fbb: #e2dede; //下边框颜色
$smallws:.25rem;//字体  小
$wdc:#909090; //字体颜色
.pt{
  padding-top: 45px;
}
.padlr02{
  padding-left: .2rem;
  padding-right: .2rem;
}
//header
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 0 10px;
  background: $bg;
  z-index: 9999;
  .header-left,
  .header-right {
    width: 25px;
    i {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: $hc;
      font-size: .5rem;
    }
  }
  .header-main {
    flex: 1;
    position: relative;
    height: 45px;
    line-height: 45px;
    .center-input {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      background: $hc;
      height: 25px;
      border-radius: 15px;
      font-size: .32rem;
    }
    .center-title {
      font-size: $hf;
      color: $hc;
    }
    .center-ul {
      display: inline-flex;
      height: 45px;
      li {
        display: inline-flex;
        font-size: $wfs;
        color: $hc;
        margin: 0 9px;
      }
      .active {
        border-bottom: 2px solid $hc;
      }
    }
    i {
      //position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
  }

}

//footer
.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  bottom: 0;
  height: 45px;
  background: $fbg;
  width: 100%;
  border-top: 1px solid $ftb;
  &-box {
    height: 100%;
    width: 100%;
    font-size: 0;
  }
  &-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
    font-size: $fws;
    i {
      font-size: .45rem;
    }
  }
  .footer-active{
    color: $bg;
  }
}

//ydUI
.yd-cell-item {
  height: 50px;
}

.yd-search-input {
  background: $bg !important;
}

.cancel-text {
  color: $hc !important;
}
.yd-cell:after{
  border-bottom: 0 !important;
}

.yd-slider-pagination-item-active {
  background: $bg !important;
}
.yd-confirm-ft>a.primary{
  color: $bg;
}
.yd-cell-right{
  min-height: 100% !important;
}
.yd-btn-block{
  height: .9rem !important;
}
.yd-cell-right{
  font-size: .3rem !important;
}
.yd-textarea textarea{
  text-align: right;
  height: 100%;
}
.yd-switch{
  color: $bg !important;
}